.music{
    height: 330px;
    width: 450px;
    margin: auto;
    padding: 20px 0;
}

.music-heading{
    font-size: 1.1rem;
    font-weight: bold;
}

.management{
    height: 330px;
    width: 450px;
    margin: auto;
}

.management-heading{
    font-size: 1.3rem;
}

.content{
    width: 100%;
    columns: 1;
    margin-top: 100px;
}

.footer-main__left{
    flex-direction: column;
    text-align: center;
}

.hr-design{
    display: none;
}

.nav-list a{
    border-width: 0 0 1px 0;
    border-collapse: none;
    border-style: solid;
    padding: 15px 100px;
    border-color:rgb(41, 41, 41);
}

.nav-list a:first-child{
    border-width: 1px 0 1px 0;
}

.subscribers__email{
    height: 50px;
    width: 250px;
}

.lifestyles{
    width: 500px;
    margin: 50px auto;
}

.form-design{
    width: 450px;
}

textarea{
    width: 450px;
}

.submit{
    width: 450px;
}

.contact-address{
    flex-direction: column;
    gap: 100px;
}

.about-mission{
    flex-direction: column;
    gap: 100px;
    width: 90%;
}

.title-details__heading{
    font-size: 2rem;
}

